<div class="jumbotron" style="padding:0; background-image: url(http://www.mrlincolnswhitehouse.org/img/whmap.png);
    background-position: 30px -30px;">
  <div style="width:700px; height: 100%; position: absolute">
    
  </div>
  <canvas id="heatmap" style="width: 100%; height: 550px; opacity: 0.7"></canvas>
</div>

